.title {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 30px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .form {
    width: 400px;
  }
}

.label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
color: black;}

.input {
  width: 200px;
  padding: 5px;
  background-color: #FFEB3B;
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 4px;
  color: #171818;
  transition: all 300ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .input {
    width: 300px;
  }
}

.button {
  padding: 8px;
  border-radius: 4px;
  background-color: #00BCD4;
  color: #E91E63;
  border: 1px solid rgba(201, 101, 247, 0.2);
  transition: all 300ms ease-in-out;
}

.button:is(:hover, :focus) {
  background-color: #60406f61;
  color: #795548;
}

.error {
  color: tomato;
  text-align: center;
  margin-left: auto;
}
